body {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.header {
  min-height: 50px;
  max-height: 8vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background: linear-gradient(120deg, #2b5876, #4e4376);
  padding: 0 20px;
}

@media (max-width: 800px) {
  .header {
    padding: 0 11px;
  }
}

.header h1 {
  font-family: "Kavoon", serif;
  /* border: 2px solid; */
  color: white;
  /* font-weight: 300; */
  font-size: 2rem;
}

.tabs-container {
  font-size: 1rem;
  gap: 1rem;
  padding: 6px 8px;
  display: flex;
  font-family: overlock, sans-serif;
  font-weight: 600;
  /* background: #000; */
}

.tabs-container li {
  border-radius: 3px;
  padding: 0 9px;
  background-color: white;
  position: relative;
  z-index: 99;
  cursor: pointer;
}

.tabs-container .active {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
}

.gallery-grid {
  /* min-height: 100vh; */
  /* border: 2px solid black; */
  padding: 5px 8px;
  column-count: 3;
  column-gap: 6px;
}

.gallery-grid .image-container {
  /* border: 1px solid white; */
  border-radius: 2px;
  /* overflow: hidden; */
  margin: 3px 0;
  transition: all 300ms ease-in-out;
  animation: card-effect 400ms ease-in-out 5.5s 1 forwards;
}
@keyframes card-effect {
  to {
    box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.292);
  }
}
.gallery-grid .image-container > img {
  border-radius: 2px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* opacity: 0; */
  /* animation: image-fade-in 0.2s ease-in-out  1 forwards; */
}
/* @keyframes image-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

.loading {
  display: none;
}

/* .loading:disabled */

.image-container:has(.loading) {
  position: relative;
  background-color: rgba(0, 0, 0, 0.147);
  min-height: 200px;
  max-height: 650px;
  overflow: hidden;
  pointer-events: none;
}

.image-container:has(.loading)::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -30%;
  transform: translateX(-100%);
  animation: shimmer 2s infinite;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.867),
    transparent
  );
  pointer-events: none;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.gallery-grid .image-container:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: -1px 1px 3px 1px transparent;
}

.image-background-overlay {
  background-color: rgba(0, 0, 0, 0.919);
  position: fixed;
  inset: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  backdrop-filter: blur(6px);
  /* cursor: pointer; */
  /* pointer-events: all; */
}
body:has(.image-background-overlay) {
  overflow: hidden;
  background-color: black;
}

.enlarged-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  /* cursor: default;
  pointer-events:all; */
}

.enlarged-image {
  max-height: 100%;
  max-width: 100%;
  border-radius: 1rem;
  transition: opacity 0.3s ease-in-out;
  /* object-fit: cover;*/
}

.close-full-view-button {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  position: absolute;
  top: 2%;
  right: 2%;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}
.close-full-view-button:hover {
  background-color: red;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  text-align: top;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.nav-btn span {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

.scroll-back-to-top {
  position: fixed;
  bottom: 5vh;
  right: 3vw;
  transform: translateX(100%);
  background: #00b6d1;
  color: white;
  z-index: 99;
  padding: 10px 12px;
  border-radius: 4px;
  opacity: 0;
  transition: all 600ms ease-in-out;
  cursor: pointer;
}

.scroll-back-to-top.scroll-top-active {
  transform: translateX(0);
  opacity: 1;
}

@media (min-width: 800px) {
  .tabs-container {
    font-size: large;
    padding: 4px 25px;
  }

  .tabs-container li {
    padding: 0 7px;
    transition: all 300ms ease-in-out;
  }

  .tabs-container li:hover {
    background: linear-gradient(90deg, #00c6ff, #0072ff);
  }
  .gallery-grid {
    padding: 5px 14px;
    column-gap: 0px;
  }
  .gallery-grid .image-container {
    margin: 8px 6px;
    border: 3px solid transparent;
    border-radius: 0.2rem;
    /* box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.236); */
  }
  @keyframes show-shadow {
    to {
      box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.625);
    }
  }
}

@media (min-width: 1500px) {
  .gallery-grid {
    column-count: 4;
  }
}

.footer {
  /* flex: 1; */
  margin-top: auto;
  max-height: fit-content;
  /* align-self:; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: black;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 0.5em;
  background: linear-gradient(120deg, #2b5876, #4e4376);
  /* opacity: 0; */
  /* transition: opacity 3s ease-in-out; */
  /* animation: footer-visible 500ms ease-in 5s 1 forwards; */
}
/*Added this animation because the footer was traveling across the screen while the page is
 loading to fix the issue I just made it invisible for the initial 5 seconds we can also do this 
 with DOMContentLoaded event in js*/
@keyframes footer-visible {
  to {
    opacity: 1;
  }
}

.footer .name-logo {
  color: rgb(101, 227, 231);
}
.footer .name-logo:hover {
  color: white;
}

.footer .media-icons-container {
  display: flex;
  color: white;
  gap: 0.8em;
  margin-right: 4px;
}

.footer .social-media-icons {
  width: 16px;
  transition: all 150ms ease-in-out;
}

.footer .social-media-icons:hover {
  transform: scale(1.4);
  color: rgb(219, 34, 64);
}

.footer .copy-right-para {
  font-size: 12px;
  color: white;
}
