body {
  overflow-x: hidden;
  width: block;
  height: auto;
}

.header {
  min-height: 50px;
  max-height: 8vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background: linear-gradient(120deg, #2b5876, #4e4376);
  padding: 0 20px;
}

@media (max-width: 800px) {
  .header {
    padding: 0 11px;
  }
}

.header h1 {
  font-family: "Kavoon", serif;
  /* border: 2px solid; */
  color: white;
  /* font-weight: 300; */
  font-size: 2rem;
}

.tabs-container {
  font-size: 1rem;
  gap: 1rem;
  padding: 6px 8px;
  display: flex;
  font-family: overlock, sans-serif;
  font-weight: 600;
  /* background: #000; */
}

.tabs-container li {
  border-radius: 3px;
  padding: 0 9px;
  background-color: white;
  position: relative;
  z-index: 99;
  cursor: pointer;
}

.tabs-container .active {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
}

.gallery-grid {
  padding: 5px 8px;
  column-count: 3;
  column-gap: 6px;
}

.gallery-grid .image-container {
  border: 1px solid white;
  border-radius: 2px;
  overflow: hidden;
  margin: 3px 0;
  transition: all 300ms ease-in-out;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
}
.gallery-grid .image-container > img {
  border-radius: 2px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-grid .image-container:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: -1px 1px 3px 1px transparent;
}

.image-background-overlay {
  background-color: rgba(0, 0, 0, 0.844);
  position: fixed;
  inset: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  backdrop-filter: blur(6px);
}
body:has(.image-background-overlay) {
  overflow: hidden;
}

.enlarged-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  border: 2px solid red;
}

.enlarged-image {
  max-height: 100%;
  max-width: 100%;
  border-radius: 1rem;

  /* object-fit: cover; */
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  padding: 0.3em 0.6em;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.prev-btn {
  left: -50px;
}

.next-btn {
  right: -50px;
}

.scroll-back-to-top {
  position: fixed;
  bottom: 5vh;
  right: 3vw;
  transform: translateX(100%);
  background: #00b6d1;
  color: white;
  z-index: 99;
  padding: 10px 12px;
  border-radius: 4px;
  opacity: 0;
  transition: all 600ms ease-in-out;
  cursor: pointer;
}

.scroll-back-to-top.scroll-top-active {
  transform: translateX(0);
  opacity: 1;
}

@media (min-width: 800px) {
  .tabs-container {
    font-size: large;
    padding: 4px 25px;
  }

  .tabs-container li {
    padding: 0 7px;
    transition: all 300ms ease-in-out;
  }

  .tabs-container li:hover {
    background: linear-gradient(90deg, #00c6ff, #0072ff);
  }
  .gallery-grid {
    padding: 5px 14px;
    column-gap: 0px;
  }
  .gallery-grid .image-container {
    margin: 8px 6px;
    border: 3px solid transparent;
    border-radius: 0.2rem;
    box-shadow: -2px -2px 8px rgba(0, 0, 0, 0.236);
  }
}

@media (min-width: 1500px) {
  .gallery-grid {
    column-count: 4;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: black;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: block;
  padding: 0.5em;
  opacity: 0;
  /* transition: opacity 3s ease-in-out; */
  animation: footer-visible 2s ease-in 0s 1 forwards;
}
/*Added this animation because the footer was traveling across the screen while the page is
 loading to fix the issue I just made it invisible for the initial 2 seconds we can also do this 
 with DOMContentLoaded event in js*/
@keyframes footer-visible {
  to {
    opacity: 1;
  }
}

.footer .name-logo {
  color: green;
}
.footer .name-logo:hover {
  color: white;
}

.footer .media-icons-container {
  display: flex;
  color: white;
  gap: 0.8em;
  margin-right: 4px;
}

.footer .social-media-icons {
  width: 16px;
  transition: all 150ms ease-in-out;
}

.footer .social-media-icons:hover {
  transform: scale(1.4);
  color: rgb(219, 34, 64);
}

.footer .copy-right-para {
  font-size: 12px;
  color: white;
}
