 body {
  background-color: #000;
} 
button {
  cursor: pointer;
}

.image-container {
  background: url("public/opening-page-image/opening-page-bg-image1.jpg")
    center/cover no-repeat;
}

.landing-page-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
  z-index: -10;
  opacity: 0;
  transition: opacity 2.5s ease-in 0s;
}
